# Directories
__pycache__/*

# Files
packer_compiled.lua

# File extensions
*.pyc

# Git sensitive configuration
**/git/*
!**/git/config.template
!**/git/main-config.template

# Private dns information
private-dns-variables.sh

