! Dracula Theme

! Special colors
*.foreground:   #F8F8F2
*.background:   #282A36
*.cursorColor:  #bbc5ff
*.comment:      #6272a4
*.selection:    #44475a

! black
*.color0:       #000000
*.color8:       #4D4D4D

! red
*.color1:       #FF5555
*.color9:       #FF6E67

! green
*.color2:       #50FA7B
*.color10:      #5AF78E

! yellow
*.color3:       #F1FA8C
*.color11:      #F4F99D

! blue
*.color4:       #BD93D9
*.color12:      #CAA9FA

! magenta
*.color5:       #FF79C6
*.color13:      #FF92D0

! cyan
*.color6:       #8BE9FD
*.color14:      #9AEDFE

! white
*.color7:       #BFBFBF
*.color15:      #E6E6E6

! Cursor themesj
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  20
