/* Define colors (dracula) */
@define-color background     #282A36;
@define-color background-alt #44475A;
@define-color foreground     #F8F8F2;
@define-color foreground-alt #6272A4;
@define-color red            #FF5555;
@define-color green          #50FA7B;
@define-color yellow         #F1FA8C;
@define-color blue           #BD93D9;
@define-color magenta        #FF79C6;
@define-color cyan           #8BE9FD;
@define-color orange         #FFB86C;

/* Bar configuration */
#waybar {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    background-color: @background;
    color: @foreground;
}

/* Workspaces configuration */
#workspaces {
    font-size: 24px;
}

#workspaces button {
    padding: 0 10px;
    color: @foreground;
}

#workspaces button.empty {
    padding: 0 10px;
    color: @foreground-alt;
}

#workspaces button.active {
    color: @green;
    background-color: @background-alt;
    border-bottom: 2px solid @green;
}

#workspaces button:hover {
    background: @background-alt;
    border-bottom: 2px solid @foreground;
}

#workspaces button.urgent {
    padding: 0 10px;
    color: @red;
    border-bottom: 2px solid @red;
}

/* Submap (key chord) style */
#submap {
    background: @background-alt;
}

/* Audio configuration */
#custom-sepPulseAudio {
    color: @cyan;
}
#pulseaudio {
    color: @cyan;
    padding: 0 10px;
}

#pulseaudio.muted {
    color: @red;
}


/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}*/

/* you can set a style on hover for any module like this */

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* Clock styles */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}


#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
