/* Define colors (dracula) */
@define-color background     #282A36;
@define-color background-alt #44475A;
@define-color foreground     #F8F8F2;
@define-color foreground-alt #6272A4;
@define-color red            #FF5555;
@define-color green          #50FA7B;
@define-color yellow         #F1FA8C;
@define-color blue           #BD93D9;
@define-color magenta        #FF79C6;
@define-color cyan           #8BE9FD;
@define-color orange         #FFB86C;

/* Bar configuration */
#waybar {
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 13px;
    background-color: @background;
    color: @foreground;
}

/* Workspaces configuration */
#workspaces {
    font-size: 24px;
}

#workspaces button {
    padding: 0 10px;
    color: @foreground;
}

#workspaces button.empty {
    padding: 0 10px;
    color: @foreground-alt;
}

#workspaces button.active {
    color: @green;
    background-color: @background-alt;
    border-bottom: 2px solid @green;
}

#workspaces button:hover {
    background: @background-alt;
    border-bottom: 2px solid @foreground;
}

#workspaces button.urgent {
    padding: 0 10px;
    color: @red;
    border-bottom: 2px solid @red;
}

/* Submap (key chord) style */
#submap {
    background: @background-alt;
}

/* Audio configuration */
@define-color audio @cyan;
#custom-sepPulseAudio {
    color: @audio;
}
#pulseaudio {
    color: @audio;
    padding: 0 10px;
}

#pulseaudio.muted {
    color: @red;
}

/* Window */
@define-color window @green;
#custom-sepWindow {
    color: @window;
}

#window {
    padding: 0 10px;
    color: @window;
}


/* Pacman configuration */
@define-color updates @yellow;
#custom-sepUpdates {
    color: @yellow;
}

#custom-updates {
    color: @yellow;
    padding: 0 10px;
}

/* Battery */
@define-color battery @orange;
#custom-sepBattery {
    color: @battery;
}

#battery {
    padding: 0 10px;
    color: @battery;
}

#battery.charging {
    color: @battery;
    border-bottom: 2px solid @battery;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @red;
    }
}
#battery.critical:not(.charging) {
    background-color: @red;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Hardware group lead */
#custom-hardwareButton {
    color: @blue;
}

/* CPU */
@define-color cpu @red;
#custom-sepCpu {
    color: @red;
}

#cpu {
    color: @red;
    padding: 0 10px;
}

/* Ram memory usage */
@define-color ram @blue;
#custom-sepMemory {
    color: @blue;
}

#memory {
    color: @blue;
    padding: 0 10px;
}

/* Brightness */
@define-color ram @magenta;
#custom-sepBacklight {
    color: @magenta;
}

#backlight {
    color: @magenta;
    padding: 0 10px;
}

/* Clock */
@define-color clock @foreground;
#custom-sepClock {
    color: @foreground;
}

#clock {
    padding: 0 10px;
    color: @foreground;
}


/* Tray */
#custom-sepTray {
    color: @foreground;
}

#tray {
    padding: 0 10px;
}

tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

